<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
      <authentication mode="Forms">
        <forms loginUrl="Presentation/Login.aspx"/>
        
      </authentication>
      <authorization>

      </authorization>
      <membership>
        <providers>
          <clear />
          <add name="AspNetSqlMembershipProvider"
          type="System.Web.Security.SqlMembershipProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
          connectionStringName="SqlRoleManagerConnection"
          requiresQuestionAndAnswer="false"
          requiresUniqueEmail="true"
          passwordFormat="Hashed"
          minRequiredNonalphanumericCharacters="0"
          minRequiredPasswordLength="3" />
        </providers>
      </membership>
    </system.web>

  <connectionStrings>
 <!--   <add name ="SqlRoleManagerConnection=" connectionString="data source=potoroo.cs.rmit.edu.au;uid=s3252820_wdt;pwd=virus1989man;initial catalog=s3252820_wdt;"/>  -->
    <add name ="SqlRoleManagerConnection" connectionString="Data Source=localhost;Initial Catalog=s3252820_wdt;Integrated Security=True;"/>
  </connectionStrings>
  

</configuration>
